body {
  background-color: rgb(61, 58, 58);
  text-align: center;
}

#firstImage {
  width: 40%;
  padding-top: 20%;
}

.btn-primary {
background-color: #F6A800;
color: black;
width: 100%;
}

#label {
  font-size: 30px;
  text-align: center;
  color: #F6A800;
}

.rowForm {
  text-align: center;
}

p{
  color: white;
}

#register {
  color: #F6A800;
}

#exampleInputEmail1 {
  border-color: #F6A800;
}

.ppalMenu {
  background-color: #F6A800;
  color: white;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 40%;
}

#menuBody {
  background-color: rgb(223, 213, 213);
}

.p-4 {
  background-color: white;
}

.nav-link {
  color: black;
}