body {
  background-color: rgb(61, 58, 58);
  text-align: center;
}

#firstImage {
  width: 40%;
  padding-top: 20%;
}

.btn-primary {
background-color: #F6A800;
color: black;
width: 100%;
}

#label {
  font-size: 30px;
  text-align: center;
  color: #F6A800;
}

.rowForm {
  text-align: center;
}

p{
  color: white;
}

#register {
  color: #F6A800;
}

#exampleInputEmail1 {
  border-color: #F6A800;
}

.ppalMenu {
  background-color: #F6A800;
  color: white;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 40%;
}

#menuBody {
  background-color: rgb(223, 213, 213);
}

.p-4 {
  background-color: white;
}

.nav-link {
  color: black;
}

#userImg {
  width: 15%;
  background-color: #F6A800;
}

.rowUserimg {
  background-color: #F6A800;
  width: 100%;
  height: 60%;
  padding: 0%;
}

.rowUserimg2 {
height: 80%;
padding: 0%;
}

.userName {
  width: 45%;
  margin-top: 3%;
  margin-left: 30%;
}

.cardNumber {
  width: 45%;
  margin-top: 3%;
  border: none;
  margin-left: 30%;
  background-color: rgb(223, 213, 213);
}

#btnCard {
  background-color: #F6A800;
  color: white;
  width: 45%;
  margin-top: 3%;
  margin-left: 30%;
}

.menuUser {
  padding: 0%;
}

.calculateOptions {
  width: 50%;
  margin-top: 10%;
}
